<?xml version="1.0" encoding="utf-8"?>
<web-app>
	<servlet>
		<servlet-name>TestServlet</servlet-name>
		<servlet-class>com.test.TestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TestServlet</servlet-name>
		<url-pattern>/test</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>HealthServlet</servlet-name>
		<servlet-class>com.test.HealthServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HealthServlet</servlet-name>
		<url-pattern>/_ah/health</url-pattern>
	</servlet-mapping>


	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>

